

.ruban {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.514);
    height: 2em;
    width: 100%;
    border-radius: 1em 1em 0em 0em;
    bottom: 18em;
}

.ruban label {
    position: relative;
    color: white;
    left: 2.5em;
    top: 0.3em;
}



.blocPrincipal {
    position: relative;
    background-color:rgb(0, 140, 255);
    min-width: 20em;
    width: 40%;
    height: 20em;
    left: 30%;
    border-radius: 1em;
    color: white;
    box-shadow: 0.1px 1px 8px rgba(0, 0, 0, 0.342);
}

.blocPrincipal img{
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 25% 25%;
    border-radius: 1em;
}


.tempCourant {
    position: absolute;
    bottom: 3em;
    left: 42%;
}

.tempCourant h1 {
    font-size: 4em;
}

.tempCourant p {
    position: relative;
    bottom: 4.8em;
    left: 6em;

}

.blocPrincipal h2 {
    position: absolute;
    bottom: 9em;
    left: 50%;
    transform: translate(-50%, 0);
}

.sentComme {
    position: absolute;
    font-size: 0.7em;
    bottom: 5em;
    height: 20%;
    left: 47%;
    transform: translate(-50%, 0);
}

.sentComme h3 {
    position: relative;
    left: 3.5em;
    bottom: 2.2em;
    font-size: 1.7em;
}

.sentComme p:nth-child(3) {
    position: relative;
    left: 8.5em;
    bottom: 6.95em;
}


.blocSecondaire {
    position: relative;
    background-color: white;
    min-width: 20em;
    width: 40%;
    height: 31em;
    left: 30%;
    border-radius: 1em;
    color: rgb(0, 0, 0);
    box-shadow: 0.1px 1px 8px rgba(0, 0, 0, 0.342);
}

.blocSecondaire p {
    position: relative;
    top: 2em;
    left: 2em;
    font-size: 1em;
}

.blocSecondaire h2 {
    position: relative;
    bottom: 0.5em;
    text-align:right;
    right: 1em;
    font-size: 1.3em;
}

.blocSecondaire hr {
    width: 80%;
    border-color: rgba(145, 145, 145, 0.37);
}