.item {
    position: relative;
    background-color: white;
    min-width: 25em;
    width: 50%;
    left: 25%;
    height: 4em;
    border-radius: 0.7em;
    box-shadow: 0.1px 1px 8px rgba(0, 0, 0, 0.342);
    margin: 0.5em;
    display:flex;
    align-items: center;
    cursor: pointer;
}

.jour {
    position: absolute;
    left: 5%;
    font-weight: 500;
}

.temp {
    position: relative;
    left: 20%;
    font-size: 1.2em;
    font-weight: 700;
}

.paysage {
    position: relative;
    left: 35%;
}

.precipitation {
    position: absolute;
    left: 90%;
}

.info {
    position: relative;
    background-color: rgb(255, 255, 255);
    min-width: 25em;
    width: 50%;
    left: 25.5%;
    height: 7em;
    border-radius: 0.6em;
    bottom: 1.4em;
    color: white;
    z-index:1;
}

.info hr {
    position: relative;
    top: 1em;
    border-color: rgba(145, 145, 145, 0.212);
}

.extra {
    position: relative;
    color: black;
    display: flex;
    justify-content: center;
    gap: 3.3em;
    top: 1em;
}
.extra div {
    border-right: solid;
    padding-right: 3em;
    border-color:  rgba(145, 145, 145, 0.212);
    border-width: 2px;
}

.extra div:last-child {
    border-right: none;
}

.extra label {
    position: relative;
    width: 5em;
    text-align: center;
    word-spacing: 2em;;
    color: black;
    font-size: 110%;
}

.extra p {
    position: relative;
    text-align: center;
    font-size: 80%;
    bottom: 8px;
    font-weight:bold;
}