.haut {
    position: relative;
    background-color: rgb(46, 46, 46);
    height: 7em;;
}

.milieu {
    position: relative;
    top: 10em;
}

.recherche {
    position: relative;
    width: 50%;
    top: 40%;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 2;
}